page-home {
.content{

    
    background: linear-gradient(rgb(156, 202, 248) 30%,rgb(243, 235, 229),rgb(73, 32, 4)),url(https://images.pexels.com/photos/432901/pexels-photo-432901.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
img{
    radius:100%;
}
.flex-container {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    padding-left: 2PX;
  }

}

